body {
    background-color: #d0edfa;
}

@font-face {
  font-family: Outfit;
  src: url(https://fonts.google.com/specimen/Outfit);
}


@media screen and (max-width: 375px) {
    .card-holder {
        margin-inline: auto;
    }
}


p {
    color: hsl(216, 15%, 48%);
}

h2 {
    color: hsl(218, 44%, 22%);
}

img {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin-top: 5px;
}

.code-holder {
    font-family: Outfit;
    border-radius: 10px;
    box-shadow: hsl(216, 15%, 48%) 5px 5px 5px 0px;
    width: 20rem;
    height: 28rem;
    padding: 6px;
    text-align: center;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
    margin-inline: auto;
    max-height: auto;
    max-width: auto;
}

footer {
    padding-top: 5px;
}

